order	sample	genus	species	population	sex	color	shape
1	A1794	Anomalospiza	imberbis	-9	F	4	16
2	NKK511	Vidua	interjecta	indigobird	M	4	16
3	90.o53	Vidua	orientalis	indigobird	M	4	16
4	A082	Vidua	obtusa	indigobird	M	4	16
5	A081	Vidua	paradisaea	indigobird	M	4	16
6	90.o31	Vidua	hypocherina	indigobird	M	4	16
7	A147	Vidua	macrouraW	indigobird	M	4	16
8	A089	Vidua	macrouraE	indigobird	M	4	16
9	90.o38	Vidua	regia	indigobird	M	4	16
10	90.o50	Vidua	fischeri	indigobird	M	4	16
11	CNB018	Vidua	camerunensis	indigobird	M	4	16
12	MDS004	Vidua	raricola	indigobird	M	4	16
13	A177	Vidua	chalybeataW	indigobird	M	4	16
14	JMD1285	Vidua	chalybeataE	indigobird	M	4	16
15	JMD1249	Vidua	purpurascens	indigobird	M	4	16
16	MDS054	Clytospiza	monteiri	-9	F	2	16
17	A107	Lagonosticta	rhodopareia	firefinch	M	2	16
18	A328	Lagonosticta	sanguinodorsalis	firefinch	M	2	16
19	MDS065	Lagonosticta	rubricataW	firefinch	M	2	16
20	SAR6894	Lagonosticta	rubricataE	firefinch	M	2	16
21	A248	Lagonosticta	rara	firefinch	M	2	16
22	A145	Lagonosticta	larvata	firefinch	M	2	16
23	A167	Lagonosticta	senegalaW	firefinch	M	2	16
24	A056	Lagonosticta	senegalaE	firefinch	M	2	16
25	A204	Lagonosticta	rufopicta	firefinch	M	2	16
